	<rewrite>
	  <rules>
		<rule name="Rewrite to index.html" stopProcessing="true">
		  <match url="^(?!(api|dist|Upload|css|bin|icons|img|old|Scripts|test)\/).*" />
		  <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
		  <action type="Rewrite" url="index.html"/>
		</rule>
	  </rules>
	</rewrite>